body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

main{
    min-height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows: 0 1fr auto; /*Se divide en tres filas*/
}

h1{
    align-self: self-start;
    font-size: 2.5em;
    font-weight: bold;
    color: #222;
    margin-top: 0.25rem;
}

#open-popup, 
#restart-game{
    align-self: end; /* Abajo */
    justify-self: start; /* Izquierda */
    font-size: 1rem;
    background: #00acee;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.75em 1em;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#open-popup i{
    font-size: 1.5rem;
}

::backdrop{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3));
}

dialog{
    box-sizing: border-box;
    width: 100%;
    max-width: 525px;
    min-width: 300px;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.8em 1.5em 1em;
}

dialog h2{
    margin-bottom: 0.5em;
    color: #111;
    letter-spacing: 1.5px;
}

dialog p{
    margin-bottom: 1.25em;
    color: #555;
    padding: 0 0.5em;
    font-size: 15px;
    text-align: justify;
}

dialog p span.text-centered{
    display: block;
    text-align: center;
}

dialog .controls{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 0.5em;
}
dialog .controls button{
    padding: 0.75em;
    letter-spacing: 1px;
    cursor: pointer;
    background: #00acee;
    outline: none;
    border: 1px solid #00acee;
    border-radius: 5px;
    color: #fff;
    font-size: 0.93em;
    width: 33%;
}

/*Better tooltip*/
.rules-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.restart-btn {
    position: fixed;
    bottom: 10px;
    left: 80px; 
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    width: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    position: absolute;
    bottom: 120%; /* Para que aparezca arriba del botón */
    left: 70%;
    transform: translateX(-55%);
    font-size: 12px;
    white-space: nowrap;
}

.tooltip-container .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Flechita apuntando hacia el botón */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
}
